html {
    font-family: "lato", sans-serif;
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


.container {
    display: grid;

    grid-template-rows: repeat(auto-fit, minmax(100px,1fr));
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;

    /* margin-top: 5em; quito esto para ponerlo debajo*/
    /* align-items: center; quito esto para ponerlo debajo*/
    /* height: 100vh; quito esto para ponerlo debajo*/
}

/* al hacer el css de la página de resultados añado lo siguiente */
/* características solo de la página de búsqueda */
.container-buscador {
    margin-top: 5em;
    align-items: center;
    height: 100vh;
}

/* características solo de la página de resultados */
.container-results {
    margin-top: 2em;
}

.homepage-logo {
    grid-column: 2;
    grid-row: 1;
/* esto significa que el contenedor del logo estará en la columna 2 de la fila 1 */
}

.homepage-logo img{
    width: 10.5em;
/* esto significa que la anchura del logo debe ser 10.5 veces el tamaño de la fuente */
}

.homepage-search-bar {
    grid-column: 1/-1;
    grid-row:2;
}

.homepage-search-bar input {
    width: 66vw;
/* esto significa que será el 60% del tamaño de la pantalla con lo que será directamente responsive */
    height: 11.8rem;
    padding-left:0.75em;
}

.homepage-search-bar input[type="text"] {
/* Esta es la barra de búsqueda pero una vez clicada, el texto que aparece */
    font-size: 2.5em;
    font-family: Arial, Helvetica, sans-serif;
    /* font-family: "Font Awesome\ 7 Free", Arial, Helvetica, sans-serif; */
    /* font awesome lo he quitado de aquí porque dentro del cuadro mientras escribo no voy a poner la lupa */
    /* la barra \ en realidad, se puede no poner, es para que se interprete que
    el espacio es en realidad un espacio, no entiendo muy bien */
    font-weight: 600;
    color: #585858;
    box-shadow: 2px 3px 20px 1px rgba(0, 0, 0, 0.1);
    border: 0px solid transparent;
    border-radius: 0.5rem;
}

.homepage-search-bar input[type="text"]::placeholder {
    font-family: "Font Awesome\ 6 Free", Arial, Helvetica, sans-serif;
    font-weight: 600;
    letter-spacing: 0.1em;
    color: #a4a4a4;
}

.homepage-search-bar input[type="text"]:focus {
    outline: none;
    box-shadow: 2px 3px 20px 1px rgba(0, 0, 0, 0.3);
}

.homepage-search-bar p {
    color:#b3b3b3;
    font-size: 1.4rem;
    line-height: 1.7rem;
    margin-top: 2.3rem;
    text-align: right;
}

.recent-posts-wapper {
    grid-column:1/-1;
    grid-row:3;
}

.recent-posts-heading {
    color: #2660f3;
    margin-bottom: 3rem;
    font-size: 1.4rem;
}

.recent-posts {
    display: grid;
    width: 66vw;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 2.5rem;
}

.recent-post-title {
    color: #535353;
    font-size: 1.4rem;
}

.recent-post-category {
    color: #999999;
    font-size: 1.2rem;
    font-weight: 600;
}

/* estilos para la página de resultados */
.result-posts-wapper {
    grid-row: 3;
    grid-column: 1/-1;
    width: 66vw;;
}

.post {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.category-name {
    color: #2660f3;
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
}

.result-post-title a {
    color: #535353;
    text-decoration: none; /*esto es para que, aunque sea enlace, no esté subrayado*/
    font-size: 1.8rem;
}